<!DOCTYPE html>
<html>
  <head>
    <title>ProductCarousel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation" class="active">
          <%= link_to "Preview Carousel", root_path %>
        </li>
        <li role="presentation">
          <%= link_to "Configure Carousel", root_path %>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
